
.stylized {
    display: block;
    margin: auto;
}


.errorMessages {
    color: #0a228f;
    font-weight: bold;
}

.narrowInput {
    width: 50px;
    text-align:center;
}

.mediumInput {
    width: 120px;
    text-align:center;
}