.clickableCard {
    cursor: pointer;
    background-color:#7A6174;
    /* max-width: 400px; */
    /* justify-content: center; */
}

.sectionTitle {
    /* color:#B1B7D1; */
    color:#7A6174;
    /* color: #31589B; */
    /* font-family: 'Coiny'; */
  }